<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="col-8 m-auto pt-4 text-center">
      <h1>Bem-vinda!</h1>
      <h5>Entre com seu login ou faça seu cadastro!</h5>
    </div>
    <div class="col-8 m-auto pt-4 text-center">
      <div id="result"></div>
      <form name="form" id="form" action="/login/" method="post">
        {% csrf_token %}
        <div class="form-group mt-4">Usuário: {{form.email}}</div>
        <div class="form-group mt-4">Senha: {{form.password}}</div>
        <div>
          <div class="d-inline p-2">
            <a href="/login">
              <input type="button" class="btn btn-info" value="Entrar">
           </a>
            <!-- <input type="submit" class="btn btn-info" value="Entrar"> -->
          </div>
          <div class="d-inline p-2">
            <a href="/form" class="btn btn-secondary">Cadastrar</a>
          </div>
        </div>
      </form>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
  </body>
</html>